<nav class="navbar navbar-expand-lg navbar-light bg-light n">
  <div class="container">
  <a class="navbar-brand" href="#"><i class="fa-solid fa-cart-shopping"></i>BigBaasket</a>
  <button class="navbar-toggler" type="button" role="button" data-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" href="#" id="navbarDropdownHome" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Home
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownHome">
          <a class="dropdown-item" href="#">Fashion 1</a>
          <a class="dropdown-item" href="#">Fashion 2</a>
          <a class="dropdown-item" href="#">Furniture 1</a>
          <a class="dropdown-item" href="#">Furniture 2</a>
          <a class="dropdown-item" href="#">Electronics 1</a>
          <a class="dropdown-item" href="#">Electronics 2</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" href="#" id="navbarDropdownHome" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pages
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownHome">
          <a class="dropdown-item" href="#">About Us</a>
          <a class="dropdown-item" href="#">Contact Us</a>
          <a class="dropdown-item" href="#">Terms and Conditions </a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>

   <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" href="#" id="navbarDropdownHome" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownHome">
          <div class="dropdown-item"><span>SupTotal:</span> <span>$165</span></div>
          <a class="dropdown-item" href="#">
            <button>View Cart</button>
            <button>Checkout</button>
          </a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" href="#" id="navbarDropdownHome" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa-solid fa-user"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownHome">
          <a class="dropdown-item" href="#">
            <button>Login</button>
            <button>Register</button>
          </a>
        </div>
      </li>

    </ul>
  </div>
</div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
